{% extends 'blog/base.html' %}

{% block main_area %}
    <!-- Blog entries-->
    <div class="col-lg-8" id="main-area">
        <!-- Featured blog post-->
        {% if post_list.exists %}
            {% for p in post_list %}
                <div class="card mb-4">
                    {% if p.head_image %}
                        <a href="#!"><img class="card-img-top img-fluid rounded" src="{{ p.head_image }}"
                                          alt="..."/></a>
                    {% else %}
                        <a href="#!"><img class="card-img-top img-fluid rounded"
                                          src="https://picsum.photos/seed/{{ p.pk }}/800/200" alt="..."/></a>
                    {% endif %}

                    <div class="card-body">
                        <div class="small text-muted">{{ p.created_at }}</div>
                        <h2 class="card-title">{{ p.title }}</h2>
                        <p class="card-text">{{ p.content | truncatechars:100 }}</p>
                        <a class="btn btn-primary" href="{{ p.get_absolute_url }}">Read more →</a>
                        <div class="card-footer text-muted mt-1">
                            <a href="#">{{ p.author | upper }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h3>아직 게시물이 없습니다</h3>
        {% endif %}
    </div>
{% endblock %}